<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Tests Suite">

    <!-- Define a group called "movie" -->
    <test name="Movie Tests">
        <groups>
            <run>
                <include name="movie"/>
            </run>
        </groups>
        <classes>
            <class name="celebi.getMovie.GetAllMovieTest"/>
        </classes>
    </test>

</suite>
