<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="API Tests Suite">
    <test name="Movie Tests">
        <classes>
            <class name="celebi.getMovie.GetAllMovieTest"/>
            <class name="celebi.getSimilarMovie.GetSimilarMoviesTest"/>
            <class name="celebi.getSimilarMovie.GetSimilarMovieNegativeTest"/>
        </classes>
    </test>
</suite>